<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <title>{% block title %}Title{% endblock %}</title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='static/layui/css/layui.css') }}">
        <link rel="stylesheet/less" type="text/less" href="{{ url_for('static', filename='static/css/common.less') }}">
        {#less IE支持的最高版本3.8.0#}
{#        <script src="https://cdn.bootcss.com/less.js/3.8.0/less.min.js"></script>#}
        {{ Helper.get_style(path)|safe }}
        <link rel="stylesheet" href="//at.alicdn.com/t/font_tnyc012u2rlwstt9.css" media="all"/>
        <script type="text/javascript" src="{{ url_for('static', filename='static/js/less.min.js') }}"></script>
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{#connection-js, 在HTML中储存数据，在js中即可使用#}
{% block connjs %}{% endblock %}
{#主要的JS#}
{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='static/layui/layui.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='static/js/common.js') }}"></script>
    {{ Helper.get_script(path)|safe }}
    <script>
        var csrf_token = "{{ csrf_token() }}";
        layui.use(['form', 'layer'], function () {
            const layer = layui.layer;
            {% for message in get_flashed_messages(with_categories=True) %}
                {% if message[0] != "message" %}
                    layer.msg("{{ message[1] | safe }}", {icon: "{{ message[0] }}", time: 1500})
                {% else %}
                    layer.msg("{{ message[1] | safe }}", {time: 1500})
                {% endif %}
            {% endfor %}
        });
    </script>
{% endblock %}
{#次要的js#}
{% block minorjs %}{% endblock %}
</body>
</html>